@model IEnumerable<Web.Models.Contact>

<h4 class="header-title m-t-0 m-b-30">Contacts/Members</h4>

<div class="row">
    @if (Model != null)
    {
        int _column = 3;
        foreach (var item in Model)
        {
            _column += 1;
            if (_column % 3 == 0)
            {
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Partial("_ContactItem", item)
                    </div><!-- end col-->
                </div>
            }
            else
            {
                <div class="col-lg-4">
                    @Html.Partial("_ContactItem", item)
                </div><!-- end col-->
            }
        }
    }
</div>
<!-- end row -->