@model Web.Models.Contact

<a href="#" class="user-list-item">
    <div class="avatar">
        <img src="assets/images/users/avatar-2.jpg" alt="">
    </div>
    <div class="user-desc">
        @if (!Model.FirstName.IsNullOrEmptyOrWhiteSpace())
        {
            <span class="name">@Model.LastName + " " + @Model.FirstName</span>
        }
        <span class="desc">@Model.Email | @Model.CreatedDate.Value.TimeAgo()</span>
    </div>
</a>
