@using Web.Models
@model Web.Models.WorkIssue

@if (User.Identity.IsAuthenticated)
{
    if (Model.Status != Web.Models.IssueStatus.Done)
    {
        @Ajax.ActionLink("Done ", "MarkAsDone", "WorkIssues", new { Id = Model.Id },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Status-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-danger" })
    }
    <br />
    if (Model.Status != Web.Models.IssueStatus.Finished)
    {
        @Ajax.ActionLink("Finished ", "MarkAsFinished", "WorkIssues", new { Id = Model.Id },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Status-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-default" })
    }
}
<div id="Update-@Model.Id"></div>
<div id="Status-@Model.Id"></div>
