@using Web.Models
@model Web.Models.WorkIssue

@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
<script>
    $(document).ready(function () {
        $("#Content").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/WorkIssues/AutoCompleted",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };  
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
@using (Html.BeginForm("Create", "WorkIssues", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="card-box">
        <textarea id="Content" name="Content" rows="3" class="form-control" placeholder="Post a new message"></textarea>
        <div class="p-t-10 pull-right">
            <p>
                <input type="submit" value="Create" class="btn btn-default" />
            </p>
        </div>
    </div>
}
