@model IEnumerable<Web.Models.Contact>

<h4 class="header-title m-t-0 m-b-30">Contacts/Members</h4>

<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            @Html.Partial("_ContactInProject", item)
        }
    }
</div>
<!-- end row -->